
.no_hover{
    background-color: black;
}

body{
    background-color:rgb(36, 36, 36);
}

.hover{
    background-color: white;
}

#tile{
    height: 3vh;
    width: 3vh;
    border: 0vh white solid;
}

#grid{
    display: flex;
    flex-direction: column;
    width: 48vh;
    height: 48vh;
    flex-wrap: wrap;
    border: 0vh white solid;
    background-color: rgb(36, 36, 36);
}


h1{
    margin-left: 7vh;
    font-family: helvetica,arial;
    color: lightblue;
    font-size: 5vh;
}

button{
    margin-top: 5vh;
    margin-left: 14vh;
    height: 5vh;
    width: 20vh;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.options{
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
}

.size{background-color: lightgrey;}
.eraser{background-color:lightcoral}
.eraser_on{background-color:lightgreen}
.eraser_off{background-color: lightcoral;}