


.no_hover{
    background-color: black;
    border: 0px white solid;
}

body{
    background-color:rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;

}

.hover{
    background-color: white;
}

#tile{
    display: flex;
    height: 3vh;
    width: 3vh;
    border: 0px white solid;
}

#grid{
    display: flex;
    flex-direction: column;
    width: 48vh;
    height: 48vh;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
    margin-right: 000px;
}